### Проект 1 [Спам-фильтр]

Вам предоставляется набор данных SMS-сообщений ```spam.csv```, классифицированных как спам и не спам.
**Цель:** построить модель, которая будет классифицировать сообщение как спам / не спам на основе наивного байесовского алгоритма.

Пожалуйста, проверьте модули ```dataset.py``` и ```model.py```.

Точность классификации сообщений должна быть более 95% как для validation, так и для test набора данных.

In [1]:
import pandas as pd
import numpy as np

In [2]:
from model import Model
from dataset import Dataset

In [3]:
data = pd.read_csv('spam.csv', encoding='latin-1')
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
data.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
X=data['v2'].values
y=data['v1'].values

In [6]:
dataset = Dataset(X,y)

In [7]:
datasets = dataset.split_dataset()

In [8]:
model = Model()

In [9]:
model.fit(dataset)

In [10]:
model.validation()

0.9748653500897666

In [11]:
model.test()

0.9820466786355476